* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

//大盒子
#chen-item {
    height: 100vh;
    overflow: hidden;

    //輪播項目
    .chen-item {
        position: relative;
        height: 100%;
        width: 100%;
        display: none;
    }

    //圖片
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        animation-name: chenImage; //動畫名稱
        animation-duration: 1s;
    }

    //標題
    h1 {
        position: absolute;
        color: white;
        top: 100px;
        left: 150px;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        z-index: 2;
        animation-name: chenTitle;
        animation-duration: 0.8s;
        animation-delay: 0.5s;  //動畫延遲
        animation-fill-mode: backwards; // 停留在動畫開始的畫面 (forwards 相反)
    }
}

//要顯示的項目
.chen-active {
    display: block;
}

// 動畫 animation 必須先額外設定動畫的效果
// @關鍵影格 動畫名稱
// 0% {} 開始時效果
// 0% - 100% {}
@keyframes chenImage {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes chenTitle {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}