@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
}

#chen-slider {
  height: 100vh;
  overflow: hidden;
}

#chen-slider .chen-item {
  position: relative;
  height: 100%;
  width: 100%;
  display: none;
}

#chen-slider .chen-item img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: chenImage;
          animation-name: chenImage;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#chen-slider .chen-item h1 {
  position: absolute;
  color: white;
  top: 100px;
  left: 150px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 2;
  -webkit-animation-name: chenTitle;
          animation-name: chenTitle;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#chen-slider .chen-active {
  display: block;
}

#chen-slider #chen-prev, #chen-slider #chen-next {
  width: 80px;
  height: 150px;
  background: #ffffff66;
  position: absolute;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

#chen-slider #chen-prev {
  left: 0;
}

#chen-slider #chen-next {
  right: 0;
}

#chen-slider #chen-buttons {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#chen-slider #chen-buttons .chen-button {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ffffff77;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

#chen-slider #chen-buttons .chen-button-active {
  -webkit-animation-name: chenButton;
          animation-name: chenButton;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes chenButton {
  0% {
    background: #ffffff77;
  }
  100% {
    background: #00000077;
  }
}

@keyframes chenButton {
  0% {
    background: #ffffff77;
  }
  100% {
    background: #00000077;
  }
}

@-webkit-keyframes chenImage {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes chenImage {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes chenTitle {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes chenTitle {
  0% {
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */